/* body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important } */

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}


.centra-todo {
    text-align: center;
    /* border: 3px solid green; */
  }


@font-face 
{
    font-family: 'titulo-h1';
    src: url('/theme/fuentes/fanzine-title.ttf') format('truetype');
}

@font-face {
  font-family: 'titulo-h2';
  src: url('/theme/fuentes/supercomputer.ttf') format('truetype');
}

h1 {
  font-family: 'titulo-h1';
  font: 40px 'titulo-h1';
}

h2 {
  font-family: 'titulo-h2';
  font: 35px 'titulo-h2';
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
}

li{
  font-family: monospace;
  font-size: larger;
}

pre
{
  background-color: rgb(189, 189, 189);
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  border-left: solid royalblue 3px;
}